<div class="container mypage">
  <div class="row">
    <div class="col">
      
        <% if @customer.errors.any? %>
          <ul>
            <% @customer.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <%end%>
        
        <h3 class="my-page-title">会員情報編集画面</h3>
        <%= form_with model: @customer,method: :patch do |f|%>
          <table class="table table-bordered">
          	<tbody>
          		<tr class="table-row">
          			<th class="table-head">ふりがな</th>
          			<td class="table-deta">(せい) <%= f.text_field :first_name_kana ,class: "customer-infomation" %> (めい) <%= f.text_field :last_name_kana,class: "customer-infomation" %></td>
          		</tr>
          		<tr>
          			<th class="table-head">名前</th>
          			<td class="table-deta">(姓) <%= f.text_field :first_name,class: "customer-infomation" %>(名) <%= f.text_field :last_name,class: "customer-infomation" %></td>
          		</tr>
          		<tr>
          			<th class="table-head">郵便番号</th>
          			<td class="table-deta"><%= f.text_field :postcode,class: "customer-infomation" %></td>
          		</tr>
          		<tr>
          			<th class="table-head">住所</th>
          			<td class="table-deta"><%= f.text_field :addresse,class: "customer-infomation" %></td>
          		</tr>
          		<tr>
          			<th class="table-head">電話番号</th>
          			<td class="table-deta"><%= f.text_field :phone_number,class: "customer-infomation" %></td>
          		</tr>
          		<tr>
          			<th class="table-head">メールアドレス</th>
          			<td class="table-deta"><%= f.email_field :email,class: "customer-infomation" %></td>
          		</tr>
          	</tbody>
          </table>
          <div>
            <%= f.submit "変更内容を保存する" ,class: "btn btn-outline-dark customer-order-detail" %>
            <%= link_to "退会する", unsubscribe_customer_path ,class: "btn btn-outline-dark customer-order-detail" %>
          </div>
        <% end %>