<div class="top-header">
  <p class="top-header-text">Welcome to </p>
  <h2 class="top-header-text">~ Nagano Cake ~</h3>
</div>
<div class="container mypage">
  <div class="row">
    <div class="col">

      

      <div class="cake-image mt-5 mb-5">
        <img class="cake1">
         <%= image_tag 'cake1.jpg', class: "top-img"%>
        </img>
        <div class="cake-top">CAKE</div>
        <p class="top-text">贅沢な味わいと美しいデザインが融合した、当店自慢のケーキをご堪能ください。<br>
           豪華なトッピングや繊細なアーティスティックな仕上げで、<br>
           特別な日や大切な人へのギフトにぴったりです。<br>
           口に入れた瞬間に広がる濃厚な風味と、<br>
           心を満たす美しい一切れをご提供いたします。</p>
      </div>

      <div class="Pudding-image mt-5 mb-5">
        <img class="cake1">
         <%= image_tag 'cake2.jpg', class: "top-img"%>
        </img>
        <div class="pudding-top">PUDDING</div>
        <p class="top-text">とろけるような口どけと、<br>
        甘さと上品さの絶妙なバランスが魅力のプリンをお楽しみください。<br>
        滑らかなテクスチャーと芳醇な香りが広がり、心を満たす贅沢なひと時をお届けします。<br>
        素材にこだわり、手間暇かけた一品一品は、贈り物やご自宅での特別なデザートとして最適です。</p>
      </div>

       <div class="bakedgoods-image mt-5 mb-5">
        <img class="cake1">
         <%= image_tag 'cake3.jpg', class: "top-img"%>
        </img>
        <div class="baced-goods-top">BACED GOODS</div>
        <p class="top-text">香り高い焼き菓子の誘惑に心を奪われること間違いなしです。<br>
        サクサクとした食感と口どけの良さが特徴で、<br>
        ホッと一息つきたいときや、お茶のお供に最適です。<br>
        バターの風味やチョコレートの濃厚さが感じられる焼き菓子は、<br>
        幅広い年齢層に喜ばれることでしょう。</p>
      </div>

      <div class="candy-image mt-5 mb-5">
        <img class="cake1">
         <%= image_tag 'cake4.jpg', class: "top-img"%>
        </img>
        <div class="candy-top">CANDY</div>
        <p class="top-text">カラフルで鮮やかなキャンディが、目と舌を喜ばせます。<br>
        甘さと酸味の絶妙なバランスや、ユニークなフレーバーの組み合わせが、<br>
        お子様から大人まで楽しめる一品です。贈り物やイベントのお土産にもぴったりで、<br>
        ひとつひとつが楽しさと魅力に溢れています。</p>
      </div>
      
      <div class="d-flex justify-content-center">
       <%= link_to "ALL PRODUCTS",items_path, type: "button", class: "h4 products-all"%>
      </div>

    </div>
  </div>
</div>