<div class="container">
  <h1>Customer Edit</h1>

  <div>
     <%= form_with model: @customer,method: :patch, url: admin_customer_path(@customer) do |f|%>
     <div>
      <table>
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td>ふりがな</td>
            <td><%= f.text_field :first_name_kana %></td>
            <td><%= f.text_field :last_name_kana %></td>
          </tr>
          <tr>
            <td>氏名</td>
            <td><%= f.text_field :first_name %></td>
            <td><%= f.text_field :last_name %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= f.text_field :postcode %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= f.text_field :addresse %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= f.text_field :phone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= f.email_field :email %>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td><%= f.radio_button :is_deleted, :true %>
                <%= f.label :is_deleted, "退会" %>
                <%= f.radio_button :is_deleted, :false %>
                <%= f.label :is_deleted, "有効" %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "変更を保存",class:"btn btn-outline-dark" %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <%end%>
  </div>
</div>