<div>
  <h3>会員一覧</h3>
  <table>
    <thead>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= "#{customer.first_name}" + "#{customer.last_name}" %></td>
            <td><%= customer.email %></td>
            <td><% if customer.is_deleted == true %>
                  <%= "有効" %>
                 <% else %>
                  <%= "退会" %>
                 <% end %>
                 </td>
            <td><%= link_to "会員詳細", admin_customer_path(customer.id) %> </td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>