<div class="container">
<h1>Genre</h1>

<div class="genre_add">
  <%= form_with model: @genre, url: admin_genres_path, local: true do |f| %>
  <div class="field">
    <%= f.text_field :name, placeholder: 'ジャンル名' %>
  </div>

    <%= f.submit "ジャンルを追加",class: "btn btn-outline-dark" %>
  <% end %>
</div>
   <div class="row">
    <div class="col-2">
  <table class="table_genre">
    <table class="table table-border-top-bottom mb-5">
      <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td>
              <%= link_to edit_admin_genre_path(genre.id) do %>
                <%= genre.name %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>
</div>
