<div class="addresses_edit">
  <h3>配送先編集</h3>
  <%= form_with model: @shipping_address, method: :patch do |f|%>
    <h5>郵便番号</h5>
    <%= f.text_field :post_code %>
    <h5>住所</h5>
    <%= f.text_field :address %>
    <h5>氏名</h5>
    <%= f.text_field :address_name %>
    
    <div>
      <%=f.submit "変更内容を保存"%>
    </div>
  <% end %>
</div>