<div class="container">
  <div class="row">
    <div class="col">
      <h1>商品一覧</h1><h4>(全<%= @items.count %>件)</h4>
    </div>
    <div class="col">
      <table class="table">
        <% @items.each do |item| %>
          <tr>
            <td><%= link_to iteme_path(item.id) do %></td>
             <% if item.image.attached? %>
            <td><%= image_tag item.image %></td>
              <% else %>
            <%= image_tag 'no_image.jpg' %>
              <% end %>
            <td><%= item.item_name %></td>
            <td>¥<%= item.price %></td>
                <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>