<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div>
        <h2>Shopping Cart</h2>
        <%= link_to "カートを空にする", cart_item_destroy_all_path(@cart_item), method: :delete, class: "btn btn-danger" %>
      </div>
      <table class="table table-bordered col-xs-10">
        <tr class="table-active">
          <th class="col-xs-3">商品</th>
          <th class="col-xs-2">単価(税込)</th>
          <th class="col-xs-2">数量</th>
          <th class="col-xs-1">小計</th>
          <th class="col-xs-1"><br></th>
        </tr>
        <% @sum = 0 %>
        <% @cart_item.each do |cart_item| %>
        <tr>
          <td class="col-xs-3">
            <% if cart_item.item.image.attached? %>
              <%= image_tag cart_item.item.image, size:"100x100" %>
            <% else %>
              <%= image_tag 'no_image.jpg' %>
            <% end %>
            <%= cart_item.item.item_name %>
          </td>
          <td class="col-xs-2">￥<%= cart_item.item.with_tax_price %></td>
          <td class="col-xs-2">
            <%= form_with model:cart_item, url:cart_item_path(cart_item.id), local:true do |f| %>
              <%= f.select :quantity, *[1..10] %>
              <%= f.submit "変更", class:"btn btn-success" %>
            <% end %>
          </td>
          <td class="col-xs-1">￥<%= cart_item.subtotal %></td>
          <td class="col-xs-1"><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger" %></td>
        </tr>
        <% @sum += cart_item.subtotal %>
        <% end %>
      </table>
    </div>
  </div>

  <div class="col-xs-8">
    <%= link_to "買い物を続ける", items_path, class: "btn btn-primary" %>
  </div>
  <div class="col-xs-4">
    <table class="table table-bordered">
      <tr>
        <td class="col-xs-2">合計金額</td>
        <td class="col-xs-2">￥<%= @sum %></td>
      </tr>
    </table>
  </div>

    <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success" %>
</div>