<h1>Shopping Cart</h1>

  <table class="table table-bordered">
    <tr class="table-active">
      <th>商品</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th><br></th>
    </tr>
    <% @sum = 0 %>
    <% @cart_item.each do |cart_item| %>
    <tr>
      <td>
        <%= image_tag cart_item.item.image %>
        <%= cart_item.item.item_name %>
      </td>
      <td><%= cart_item.item.with_tax_price %></td>
      <td>
        <%= form_with model:cart_item, url:cart_item_path(cart_item.id), local:true do |f| %>
          <%= f.select :quantity, *[1..10] %>
          <%= f.submit "変更", class:"btn btn-success" %>
        <% end %>
      </td>
      <td><%= cart_item.subtotal %></td>
      <td><%= button_to "削除する", cart_item_path(cart_item.id), method: :delete %></td>
    </tr>
    <% @sum += cart_item.subtotal %>
    <% end %>
  </table>

  <p>合計金額</p><%= @sum %>