<div class="container">
  <h1>Order Information</h1>
    <% if @order.errors.any? %>
      <%= "〜必要事項が未入力です〜" %>
    <%end%>
    <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% subtotal = 0 %>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= image_tag cart_item.item %></td>
              <td><%= cart_item.item.item_name %></td>
              <td><%= cart_item.item.price %>円</td>
              <td><%= cart_item.quantity %></td>
              <td><%= cart_item.item.price * cart_item.quantity %></td>
              <% subtotal += cart_item.item.price * cart_item.quantity %>
            </tr>
          <% end %>
      </tbody>
    </table>
    <div class="col-8">
    <table class="table">
    	<tbody>
      		<tr>
      			<th>送料</th>
      			<th>小計</th>
      			<th>ご請求金額</th>
      		</tr>
      		<% postage = 800 %>
      		<tr>
      			<td><%= "#{postage}円" %></td>
      			<td><%= "#{subtotal}" + "円" %></td>
      			<td><%= "#{postage + subtotal}円" %></td>
      		</tr>
      	</tbody>
      </table>
      <div class="col-10">
      <table class="table">
      	<tbody>
      		<tr>
      			<th>支払方法</th>
      			<td><%= @order.payment_method_i18n %></td>
      			<td></td>
      			<td></td>
      		</tr>
      		<tr>
      			<th>お届け先</th>
      			<td>〒<%= @order.post_code %></td>
      			<td><%= @order.address %></td>
      			<td><%= @order.name %></td>
      		</tr>
      	</tbody>
      </table>
    </div>


      <% @order.total_price = postage + subtotal %>

      <%= form_with model: @order, url: orders_path, method: :post do |f| %>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <%= f.hidden_field :total_price %>
        <%= f.hidden_field :payment_method %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :post_code %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :order_status %>
        <%= f.submit "注文を確定する",class:"btn btn-outline-dark" %>
      <% end %>
</div><div></div></div>
