<div class="container">
  <div class="row">
    <div class="col">
       <h1>商品一覧</h1><h4>(全<%= @items.count %>件)</h4>
       <table class="table">
         <thead>
           <tr>
             <td>イメージ</td>
             <td>商品名</td>
             <td>税抜価格</td>
           </tr>
         </thead>
    </div>
    <div class="row">
      <div class="col">
        <% @items.each do |item| %>
        <tbody>
          <tr>
            <td><%= link_to item_path(item.id) do %></td>
             <% if item.image.attached? %>
            <td><%= image_tag item.image %></td>
              <% else %>
            <%= image_tag 'no_image.jpg' %>
              <% end %>
            <td><%= item.item_name %></td>
            <td>¥<%= item.price %></td>
                <% end %>
          </tr>
        </tbody>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>