<div class="container">
  <div class="row">
    <div class="col">
       <h1>商品一覧</h1><h4>(全<%= @items.count %>件)</h4>
       <table class="table table-bordered">
         <thead>
           <tr class="table-active">
             <td>イメージ</td>
             <td>商品名</td>
             <td>ジャンル</td>
             <td>税抜価格</td>
           </tr>
         </thead>
    </div>
    <div class="row">
      <div class="col">
        <% @items.each do |item| %>
          <tr>
            <td>
              <%= link_to item_path(item.id) do %>
                <% if item.image.attached? %>
                  <%= image_tag item.image, size: "100x100" %>
                <% else %>
                  <%= image_tag 'no_image.jpg' %>
                <% end %>
              <% end %>
            </td>
            <td><%= item.item_name %></td>
            <td><%= item.genre_id %></td>
            <td>¥<%= item.price %></td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
 </div>
</div>