<div class="col">
       <h1>商品一覧</h1><h4>(全<%= @items.count %>件)</h4>
</div>
 <div class="d-flex flex-wrap ">
  <% @items.each do |item| %>
    <div class="col-3 my-2">
      <%= link_to item_path(item.id) do %>
        <div class="card text-dark h-100">
         <%= image_tag item.image %>
        <div class="card-body">
          <h5 class="card-title"><%= item.item_name %></h5>
          <p class="card-text"> ¥<%= item.price %></p>
        </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>