<div class="container">
  <div class="row">
    <div class="col">
      <h1>商品詳細</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <br>
       <td><%= image_tag @item.image, size: "300x300" %></td>
    </div>
    <div class="col">
      <dl class="dl">
        <dt>商品名</dt>
          <dd><%= @item.item_name %></dd><br>
        <dt>商品の説明</dt>
          <dd> <%= @item.item_description %></dd><br>
        <dt>税込価格</dt>
          <dd>¥<%= (@item.price*1.1).floor %></dd><br>
        <dt>販売ステータス</dt>
          <dd><% if @item.sales_status == false %>
              <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
               <%= f.hidden_field :item_id, value: @item.id %>
               <%= f.select :quantity, *[1..10] %>
               <%= f.submit "カートに追加" %>
            <p>販売中</p>
              <% end %>
              <% else %>
            <p>売り切れ</p>
             <% end %>
          </dd>
      </dl>
    </div>
  </div>
</div>